<nav class="navbar fixed-top navbar-light bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand">
            <h2><b style="color:yellow"><i class="bi bi-clouds"></i>Feedback Portal</b></h2>
        </a>
        <div class="d-flex">
            <button class="btn btn-outline-light" routerLink="../signup"><b>Signup</b> </button>
            <button class="btn btn-outline-light" routerLink="../login"><b>Login</b></button>
            <button class="btn btn-outline-light" routerLink="../profile"><b>Profile</b></button>
        </div>
    </div>
</nav>