<div class="container">
    <!--making row center-->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!--mt(margin from top) mb(botton) p(padding)-->
            <div class="card mt-3 mb-3 shadow-lg p-3">
                <h2 style="text-align:center"><b style="color:#3F729B">Login</b></h2>
                <hr>


                <form [formGroup]="form" class="text-left">

                    <div class="form-group">
                        <label><i class="bi bi-envelope-fill"></i><b style="padding-left:5px">Email</b></label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Nanneboina@gmail.com" style="width: 300px">
                    </div>
                    <div class="form-group">
                        <label><i class="bi bi-shield-lock-fill"></i><b style="padding-left:5px">Password</b></label>
                        <input type="password" class="form-control" formControlName="password" placeholder="***************" style="width: 300px">
                    </div>

                    <div class="form-group" id="one">
                        <input type="submit" class="btn btn-primary mt-3 btn-block" style="width: 100px" (click)="login()">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger mt-3 btn-block" style="width: 100px" value="clear" (click)="clear()">
                    </div>



                </form>
            </div>

        </div>

    </div>
</div>