<div class="footer bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5><b></b></h5>
            </div>

            <div class="col-md-3">
                <h5><b></b></h5>
            </div>
            <div class="col-md-3">
                <h5><b></b></h5>
            </div>

            <div class="col-md-3">

                <h3><b>Portal Develop By</b></h3>
                <b id="one" style="color:white"> <i class="bi bi-award"></i></b>
                <b><p style="color:white"> Nanneboina Sumanth</p> </b>
            </div>
        </div>
    </div>
</div>